
@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    ViewBag.Title = "Home";
}

<div class="div-layout">
    <div class="div-layout2">
        <p class="p-padding">
            If you need technical support, please do one of the following three ways:<br />
            1. Go to <span class="span-color">supportteam1aptech.com</span> and submit a support request.<br />
            2. Email technical department <span class="span-color">huyen@aptechlearning.edu.vn</span>.<br />
            3. Call Customer Support Hotline: <span class="span-color">0990001919</span>.
        </p>
    </div>
    
</div>







